/*Styles*/
html{
  background-color: #F4F4F7;
  font-family: 'Calibri', serif;
  font-size: 16px;
}

body {
    line-height: 1.4rem;
  }

.flex{
    display:flex;
  }

h1 {
    font-family:'Lucida Handwriting';
    font-size: 2.5rem;
    line-height: 0.5rem;
    color: black;
    
  }

  h6, h2, h3, h4 {
    font-family:'Lucida Handwriting';
    line-height: 1.2rem;
    color: black;
  }

  /* Header Section */
header {
    display: flex;
    height: 4rem;
    width: 100%;
    z-index: 1;
    position: fixed;
    align-items: center;
    background-color:#E8E8F0
  } 

  nav {
    justify-content: space-around;
    width: 100%;
  }
  
 nav div {
    display: flex;
    align-items: center;
  }
  
   ul {
    margin-right: 1.5rem;
  }
  
   ul li {
    display: inline;
    padding: 0.5rem;
    cursor: pointer;
    transition: font-size linear 200ms;
  }
  
   ul li:hover {
    font-size: 1.25rem;
  }
 
  
/*BANNER*/
.banner{
  background: url(./dis.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 35em;
}
.headline{
  width: 20rem;
  padding: 6rem 6rem;
  position: relative;
  top:9rem;

}
.headline h1{
  font-size: 2rem;
  margin: 1rem 0;
}
.icon{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5px;
  
}
svg{
  color: black;
}


/* About me */

#about h4{
  text-align: center;
}
#about{
  width: 100%;
  text-align: center;
}
.text{
 padding: 10px 160px;
 text-align: center;

}


/* Skills */
#skills{
  width: 100%;
}
.skills-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding-bottom: 1rem;
}
.column{
  width: 25%;
}

/* Portfolio */

#projects{
  width: 100%;
  padding-bottom: 2rem;
}
.title{
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
}
.projects-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 1rem;
}
.project{
  width:25%;
  margin: 1rem;
  background-color: white;
  color:#606060;
  transition: background-color 200ms linear,
  font-size;
}
.details{
  margin: 1rem 0.5rem;
}
.details h3, h5{
  text-align: center;
}

.project:hover{
  background-color: #CFCFCF	;
}
.image img{
  width: 100%;
  
}


/* ContactMe */
.contact-me{
  margin: 0;
  padding: 12px 0;
}

.contact-container{
  max-width: 780px;
  padding:50px 16;
  margin: 0 auto;
  font-size: 0;

}
.contact-title {
  text-align: center;
  font-size: 30px;
  color: black;
  margin: 16px;
}
.contact-form-container {
  display: inline-block;
  width: 100%;
  margin-right: 16px;
  vertical-align: top;
  font-size: 12px;
}
.contact-form-container:after {
  content: "";
  display: table;
  clear: both;
}

.contact-form {
  color: rgb(109, 109, 110);
}

.contact-form input,
.contact-form textarea {
  color: inherit; 
  font: inherit; 
  margin: 0; 
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
  box-sizing: border-box;
  background-color: #E7E6EE;
  width: 100%;
  padding: 12px;
  border: none;
  margin-top: 16px;
}

.contact-form input[type="submit"] {
  background-color: #7EAFF0;
  padding: 10px 30px;
  border-radius: 10px; /* Уголки */
  margin-top: 24px;
  text-transform: uppercase;
  color:black;
  float: right;
  transition: 0.5s ease-in-out;
  text-decoration: none;
  user-select: none;
}

.contact-form input[type="submit"]:hover,
.contact-form input[type="submit"]:active {
  transform: scale(1.05);
  color: #fff;
  font-weight: 700;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.contact-form textarea {
  height: 140px;
  background-color: #E7E6EE;
  box-sizing: border-box;
  width: 100%;
  padding: 12px;
  border: none;
  margin-top: 16px;
  resize: none;
}




/* footer */
footer{
  border-top-style: solid;
  border-top-width: thin;
  border-top-color: #E8E8E8;
  padding-top:1rem;
  padding-left:1.5rem;
  padding-bottom:1rem;
  display:flex;
  justify-content: space-between;
}

/* NOTES 
1) color: inherit - наследует значение свойства у родительского элемента
2) transition: 0.5s ease-in-out - Устанавливает, насколько быстро должно 
изменяться значение стилевого свойство для которого применяется эффект перехода.
3) text-decoration - оформление текста в виде подчеркивания, перечеркивания, линии над текстом и мигания




*/



/* Details-block*/
.details-block{
  display: flex;
  width: 100%;
  justify-content: space-around;
  /* margin: 10px 20px; */
}
.img-block{
  padding: 20px 30px;
  width: 50%;
}
.info-block{
  padding: 20px 30px;
  width: 50%;
}
/* .info-block button{
  justify-content: center;

} */
.details-img{
  width: 90%;
}
.details-button{
  background-color: #7EAFF0;
  padding: 10px 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px; /* Уголки */
}
.proj-name{
    font-family: 'Lucida Handwriting';
    line-height: 1.2rem;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
  }